<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="fragments/default.html :: headerfiles"></th:block>
</head>

<body>

	<div class="conteneurAvis" th:fragment="avis1">
		<h2>Boma Dickies</h2>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<p class="declaration">Mon écran était cassé sur mon iphone, ils me l'ont reparé rapidement et me l'ont
			rendu comme neuf. Excellent
			travail , je recommande cette boutique
		</p>

	</div>

	<div class="conteneurAvis" th:fragment="avis2">
		<h2>Camille Piekfrru</h2>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<p class="declaration">Bonjour je recommande à 100% cette boutique
			Excellent accueil, excellent travail effectué sur mon oppo, je suis très satisfaite.
			Continué comme ça merci encore vous avez fait une heureuse a très bientôt.
		</p>

	</div>

	<div class="conteneurAvis" th:fragment="avis3">
		<h2>Christian Garde</h2>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<p class="declaration">Venu pour réparer mon iPhone 11, ayant fait plusieurs devis. J’ai trouvé chez Phonetastik
			le moins chèr et le plus rapide. Réparation sur place en moins d’une heure, très professionnel et
			consciencieux.
			Je recommande à 1000%
		</p>

	</div>
	<div class="conteneurAvis" th:fragment="avis4">
		<h2>Vincent</h2>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<p class="declaration">J'ai fait appel à leur services (micro-soudures sur la carte mère) pour la réparation de
			mon iphone qui ne s'allumé plus et ne chargé plus. Très professionnel, à l'écoute et réactif. Je recommande
			vivement ce réparateur.
		</p>

	</div>






	<div>
		<th:block th:insert="fragments/default.html :: scripts">
	</div>

</body>

</html>