<!DOCTYPE html>
<html lang="en">

<head>
	<title>Carousel Avis</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		<div class="carousel slide" id="conteneurCarouselAvis" data-ride="carousel" th:fragment="carousel">
			<!-- Indicators -->
			

			<!-- Wrapper for slides -->
			<div  id="myCarouselAvis"  class="carousel-inner">
				<div class="item active">
					<th:block th:insert="fragments/avis.html :: avis1">
				</div>

				<div class="item">
					<th:block th:insert="fragments/avis.html :: avis2">
				</div>
				<div class="item">
					<th:block th:insert="fragments/avis.html :: avis3">
				</div>
				<div class="item">
					<th:block th:insert="fragments/avis.html :: avis4">
				</div>




			</div>
		</div>
	</div>

</body>

</html>