<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Phonetastik Saint-Omer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--<link th:href="@{/css/header.css}" rel="stylesheet" media="screen" />-->
	<link th:href="@{/css/header2.css}" rel="stylesheet" media="screen" />
	<!--<link th:href="@{/css/carousel.css}" rel="stylesheet" media="screen" />-->
	<link th:href="@{/css/avis.css}" rel="stylesheet" media="screen" />
	<link th:href="@{/css/index.css}" rel="stylesheet" media="screen" />
	<link th:href="@{/css/acceuil.css}" rel="stylesheet" media="screen" />
	<link th:href="@{/css/footer.css}" rel="stylesheet" media="screen" />
		<link th:href="@{/css/conteneurMarque.css}" rel="stylesheet" media="screen" />
		<link th:href="@{/css/modificationMarque.css}" rel="stylesheet" media="screen" />
		<link th:href="@{/css/responsiveNav.css}" rel="stylesheet" media="screen" />

</head>

<body>
	<div th:fragment="scripts">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</div>
</body>

</html>