<!DOCTYPE html>
<html lang="en">

<head>
	<title>Description Magasin</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div>
		<div class="descriptionMagasin" th:fragment="descriptionMagasin">

			<p>Spécialiste de la réparation de téléphones, tablettes, consoles de jeux vidéos,
				ordinateurs portables</p>
			<p>Vente de téléphones neufs et occasions</p>
			<p>Reprise de vos téléphones</p>
			<p>Vente d'accessoires</p>
			<p>Recyclage de télèphones , appareils et pièces électroniques en fin de vie
			<p>


		</div>
	</div>

</body>

</html>