<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="fragments/default.html :: headerfiles"></th:block>
</head>
<script type="text/javascript">
	function verifForm() {
		$("#erreurNom").text("");
		$("#erreurImage").text("");



		var resultat = true;
		var nom = $("#nom").val();
		var imageMarque = $("#imageMarque").val();
		var numNom = nom.indexOf(" ");


		if (numNom != -1 || nom == "") {
			resultat = false;
			$("#erreurNom").text("Verifier que votre nom de Marque est rempli et qu'il ne comporte pas d'espace ");
		}


		var lastPoint = imageMarque.lastIndexOf(".") + 1;
		var extFile = imageMarque.substr(lastPoint, imageMarque.length).toLowerCase();
		if (extFile == "jpg") {
			//TO DO
		} else {
			resultat = false;
			$("#erreurImage").text("Seuls les de type .jpg sont acceptés");
		}



		return resultat;
	}


	function verifForm2() {

		var fichiers = document.querySelector("#imageMarque");
		var curfiles = fichiers.files;


		$("#erreurImage2").text("");

		var resultat = true;
		if (curfiles.length === 0) {
			resultat = false;
			$("#erreurImage2").text("Aucune image selectionnée");

		} else {
			var currentFile = curfiles[0];


			if (!validFileType(currentFile)) {
				resultat = false;
				$("#erreurImage2").text("Attention Seuls les de type .jpg sont acceptés");

			}
			
			
		}



		return resultat;
	}


	function verifFormTotal() {
		var verif1=verifForm();
		var verif2 = verifForm2();
		
		return verif1 && verif2;
	}


	function validFileType(file) {

		var fileTypeAccepte = 'image/jpeg';
		if (file.type === fileTypeAccepte) {
			return true;
		}
		return false;
	}



</script>

<body>

	<nav>
		<th:block th:insert="fragments/header2.html :: header"></th:block>
	</nav>


	<div>
		<th:block th:insert="fragments/deconnexion.html :: administration">
	</div>


	<div class="container">
		<h2>Création de Marque</h2>


		<form action="#" method="post" th:action="@{'/administration/creationMarque'}" th:object="${marque}"
			onsubmit="return verifFormTotal()" enctype="multipart/form-data">
			<div class="form-group">
				<label>Nom de la Marque</label>
				<input id="nom" type="text" th:field="*{nom}" th:errorclass="'is-invalid'" class="form-control" />
				<p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="invalid-feedback">Incorrect</p>
				<div class="text-danger" id="erreurNom"></div>
			</div>

			<div class="form-group">
				<label>Image</label>
				<input type="file" id="imageMarque" name="imageMarque" accept=".jpg" />
				<div class="text-danger" id="erreurImage"></div>
				<div class="text-danger" id="erreurImage2"></div>
			</div>
			<div class="text-danger" id="erreur"><span th:text="${erreurCreationMarque}"
					style="font-weight: bolder"></span></div>
			</br></br>
			<input id="submit" type="submit" class="btn btn-primary" />
		</form>




	</div>

	</br></br></br></br>




	<nav>
		<th:block th:insert="fragments/footer.html :: footer"></th:block>
	</nav>


	<div>
		<th:block th:insert="fragments/default.html :: scripts">
	</div>








</body>

</html>